
body, html {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background: #f4f4f9;
}

#quiz-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin: 10px 0;
    background: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul li.selected {
    background: #0084ff;
    color: white;
}
ul li.false {
  border-style: solid;
  border-color: red;
}

ul li.correct {
  border-style: solid;
  border-color: green;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0056b3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button.red {
    background: #ff7b7b;
}

button.darkRed {
    background: #a32a3d;
}


button:disabled {
    background: #ccc;
}
.centered {
    display :flex;
    justify-content: space-between;
    max-width : 400px;
    margin: 5px auto;
}

#feedback {
    margin-top: 20px;
}
